{% extends "main.html" %}
{% block titulo %} Sitios {% endblock %}
{% block contenido %}

    <div class="content">
        <h2>Sitios</h2>
        <div>
            {% if current_user.user_type == 'Cliente' %}
            <a class="button is-green" href="{{url_for('sitioRutas.AddPlace')}}" >Agregar Sitio</a>
            <br><br>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ubicación</th>
                        {% if current_user.user_type == 'Admin' %}<th>Cliente</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for pla in places %}
                    <tr>
                        <td>{{pla[1]}}</td>
                        <td>{{pla[2]}}</td>
                        {% if current_user.user_type == 'Admin' %}<td>{{pla[3]}}</td>{% endif %}
                        {% if current_user.user_type == 'Cliente' %}
                        <td>
                            <a href="{{url_for('sitioRutas.UpdatePlace', id=pla[0])}}" class="button is-blue">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('sitioRutas.DelPlace')}}" method="POST">
                                <input type="hidden" name="id" value="{{pla[0]}}">
                                <button class="button is-red">Eliminar</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}