{% extends "main.html" %}
{% block titulo %} Editar Cliente {% endblock %}
{% block contenido %}

    <div class="content">
        <h2>Editar cliente</h2>
        <div>
            <p>Edite los datos del cliente:</p>
            <form action="{{url_for('clienteRutas.SaveUpdateClient')}}" method="post">
            <table>
                <input type="hidden" name="id" value="{{client[0]}}">
                <tr>
                    <td><label for="nombre">Nombre:</label></td>
                    <td><input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre" value="{{client[1]}}"></td>
                </tr>
                <tr>
                    <td><label for="direccion">Dirección:</label></td>
                    <td><input required type="text" class="input" placeholder="Dirección" name="direccion" id="direccion" value="{{client[4]}}"></td>
                </tr>
                <tr>
                    <td><label for="ciudad">Ciudad:</label></td>
                    <td><input required type="text" class="input" placeholder="Ciudad" name="ciudad" id="ciudad" value="{{client[5]}}"></td>
                </tr>
                <tr>
                    <td><label for="estado">Estado:</label></td>
                    <td><input required type="text" class="input" placeholder="Estado" name="estado" id="estado" value="{{client[6]}}"></td>
                </tr>
                <tr>
                    <td><label for="telefono">Teléfono</label></td>
                    <td><input required type="number" class="input" placeholder="Teléfono" name="telefono" id="telefono" value="{{client[7]}}"></td>
                </tr>
                <tr>
                    <td><label for="suscripcion">Suscripcion</label></td>
                    <td>
                        <select name="suscripcion" id="suscripcion">
                            <option value= "1" {% if client[2] == 1 %} SELECTED {% endif %}>Activa</option>"
                            <option value= "0" {% if client[2] == 0 %} SELECTED {% endif %}>Inactiva</option>"
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="pago">Pago</label></td>
                    <td>
                        <select name="pago" id="pago">
                            <option value= "1" {% if client[3] == 1 %} SELECTED {% endif %}>Realizado</option>"
                            <option value= "0" {% if client[3] == 0 %} SELECTED {% endif %}>Pendiente</option>"
                        </select>
                    </td>
                </tr>
            </table>
                <br>
                <button type="submit" class="button is-green">Guardar</button>
                <a href="{{url_for('clienteRutas.AdminClients')}}" class="button is-base">Volver</a>
            </form>
        </div>
    </div>

{% endblock %}