{% extends "main.html" %}
{% block titulo %} Analizadores {% endblock %}
{% block contenido %}

    <div class="content">
        <h2>Analizadores</h2>
        <div>
            {% if current_user.user_type == 'Admin' %}
            <a class="button is-green" href="{{url_for('medidorRutas.AddAnalizer')}}" >Agregar Analizador</a>
            <br><br>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Fabricante</th>
                        <th>Uso</th>
                        <th>Clase</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ana in analizers %}
                    <tr>
                        <td>{{ana[1]}}</td>
                        <td>
                            {% if ana[2] == 1 %}
                            Activado
                            {% elif ana[2] == 0 %}
                            Inactivado
                            {% endif %}
                        </td>
                        <td>{{ana[3]}}</td>
                        {% if current_user.user_type == 'Admin' %}
                        <td>
                            <a href="{{url_for('medidorRutas.UpdateAnalizer', id=ana[0])}}" class="button is-blue">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('medidorRutas.DelAnalizer')}}" method="POST">
                                <input type="hidden" name="id" value="{{ana[0]}}">
                                <button class="button is-red">Eliminar</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}