{% extends "main.html" %}
{% block titulo %} Dashboard {% endblock %}
{% block contenido %}

<div class="content">
    <h2>Panel de Servicios</h2>
    <div>
        <p>Servicios disponibles para su rol:</p>
        <table>
            {% if current_user.user_type == 'Admin' %}
            <tr><td>
                <form action="{{ url_for('clienteRutas.AdminClients') }}">
                    <button class="button moreWidth">Administrar Clientes</button>
                </form>
            </td></tr>
            {% endif %}
            {% if current_user.user_type != 'Usuario' %}
            <tr><td>
                <form action="{{ url_for('usuarioRutas.AdminUsers') }}">
                    <button class="button moreWidth">Administrar Usuarios</button>
                </form>
            </td></tr>
            {% endif %}
            <tr><td>
                <form action="{{ url_for('sitioRutas.AdminPlaces') }}">
                    <button class="button moreWidth">Administrar Sitios</button>
                </form>
            </td></tr>
            <tr><td>
                <form action="{{ url_for('medidorRutas.AdminAnalizers') }}">
                    <button class="button moreWidth">Administrar Analizadores</button>
                </form>
            </td></tr>
            {% if current_user.user_type != 'Admin' %}
            <tr><td>
                <form action="{{ url_for('medicionRutas.GoMediciones') }}">
                    <button class="button moreWidth">Visualizar Mediciones</button>
                </form>
            </td></tr>
            {% endif %}
        </table>
    </div>


</div>

{% endblock %}