{% extends "main.html" %}
{% block titulo %} Dashboard {% endblock %}
{% block contenido %}

<div class="content">
    <h2>Panel de Servicios</h2>
    <div>
        <p>Servicios disponibles para su rol:</p>
        <table>
            {% if session['Tipo'] == 'Admin' %}
            <tr><td>
                <form action="{{ url_for('AdminClients') }}">
                    <button class="button moreWidth">Administrar Clientes</button>
                </form>
            </td></tr>
            {% endif %}
            {% if session['Tipo'] != 'Usuario' %}
            <tr><td>
                <form action="{{ url_for('AdminUsers') }}">
                    <button class="button moreWidth">Administrar Usuarios</button>
                </form>
            </td></tr>
            {% endif %}
            <tr><td>
                <form action="{{ url_for('AdminPlaces') }}">
                    <button class="button moreWidth">Administrar Sitios</button>
                </form>
            </td></tr>
            <tr><td>
                <form action="{{ url_for('AdminAnalizers') }}">
                    <button class="button moreWidth">Administrar Analizadores</button>
                </form>
            </td></tr>
            {% if session['Tipo'] != 'Admin' %}
            <tr><td>
                <form action="{{ url_for('GoMediciones') }}">
                    <button class="button moreWidth">Visualizar Mediciones</button>
                </form>
            </td></tr>
            {% endif %}
        </table>
    </div>


</div>

{% endblock %}