{% extends "main.html" %}
{% block titulo %} Mediciones {% endblock %}
{% block contenido %}

    {% if session['Tipo'] != 'Admin' %}

    <h2>Mediciones</h2>
    <h1 align="center">Candlestick Chart With Technical Analysis</h1>

    <div id="chart" class="chart"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
      (() => {
        const update = () => {
          fetch('/data')
            .then(resp => resp.json())
            .then(data => Plotly.react('chart', data, {}));
        };
        update();
        setInterval(update, 5000);
      })();
    </script>

    {% endif %}
{% endblock %}