{% extends "main.html" %}
{% block titulo %} Mediciones {% endblock %}
{% block contenido %}

    <div class="content">
        <h2>Mediciones</h2>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Potencia</th>
                        <th>THD</th>
                        <th>Otras</th>
                    </tr>
                </thead>
                <tbody>
                    {% for med in mediciones %}
                    <tr>
                        <td>{{med[0]}}</td>
                        <td>{{med[1]}}</td>
                        <td>{{med[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}