{% extends "main.html" %}
{% block titulo %} Dashboard {% endblock %}
{% block contenido %}

<div class="content">
    <h2>Información del Perfil</h2>
    <div>
        <p>La informacion de su cuenta es:</p>
        <table>
            <tr>
                <td>Nombre:</td>
                <td>{{ current_user.user_name }}</td>
            </tr>
            <tr>
                <td>Nick:</td>
                <td>{{ current_user.nick }}</td>
            </tr>
            <tr>
                <td>Estado:</td>
                <td> En Linea</td>
            </tr>
            <tr>
                <td>Tipo de Usuario:</td>
                <td>{{ current_user.user_type }}</td>
            </tr>
            <tr>
                <td>Correo:</td>
                <td>{{ current_user.email }}</td>
            </tr>
            <tr>
                <td>Cliente:</td>
                <td>{{ current_user.cliente.client_name }}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}