{% extends "main.html" %}
{% block titulo %} Dashboard {% endblock %}
{% block contenido %}

<div class="content">
    <h2>Información del Perfil</h2>
    <div>
        <p>La informacion de su cuenta es:</p>
        <table>
            <tr>
                <td>Nombre:</td>
                <td>{{ session['Nombre'] }}</td>
            </tr>
            <tr>
                <td>Nick:</td>
                <td>{{ session['Nick'] }}</td>
            </tr>
            <tr>
                <td>Estado:</td>
                <td>{{ session['Estado'] }}</td>
            </tr>
            <tr>
                <td>Tipo de Usuario:</td>
                <td>{{ session['Tipo'] }}</td>
            </tr>
            <tr>
                <td>Correo:</td>
                <td>{{ session['Correo'] }}</td>
            </tr>
            <tr>
                <td>Cliente:</td>
                <td>{{ session['Cliente'] }}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}